<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revealer - Reveal.js multiplexer</title>
        
        <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
        <!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="components/reveal.js/lib/css/zenburn.css">


    </head>
    <body>
        <div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<section>
						<h1>Functional Programming in JS</h1>
					</section>
					<section data-background-size="100vh" data-background="https://media.giphy.com/media/ZanWL0MNtv3y0/giphy.gif">
						
					</section>
				</section>
				<!--first class functions-->
				<section>
					<h2>Functions in JS are First Class</h2>
					<p>In JS functions can be stored in variables/objects/arrays 
						and can be passed into and returned from functions
					</p>
					<pre><code class="hljs" data-trim contenteditable>
var fun = (f) => {
	return function(arg) {
		return f(arg);
		}
	};
var funArray = [console.log,console.dir,console.table];
												</code></pre>
			</section>
				<!--higher order functions-->
				<section>
						<section>
								<h1>Higher Order Functions</h1>
								<h3>any functions that:</h3>
								<ul>
									<li>takes a function as a parameter. examples: map , each , reduce</li>
									<li>returns a function. examples:</li>
								</ul>
								
							</section>
						
					</section>
				<!--functions building functions-->
				<!--closures-->
				<!--haskell curry lame joke-->
				<!--currying-->
				<section>
						<section>
								<h2>Currying</h2>
								<p>currying a function is removing a single expected parameter from the a given function and returning
									a function that accepts the parameter which we removed and returns a function that executes the inital function with the given parameter
								</p>
								
							</section>
						<section>
								<h2>Currying</h2>
								<pre><code class="hljs" data-trim contenteditable>
function curry(fun) {
	return function(arg) {
		return fun(arg);
	}
}
function curry2(fun) {
	return function(secondArg) {
		return function(firstArg) {
			return fun(firstArg, secondArg);
		}
	}
}
								</code></pre>
								
							</section>
							<section>
									<h2>Currying</h2>
									<pre><code class="hljs" data-trim contenteditable>
var arr = ['11','11','11','11','11','11','11','11','11']
arr.map(parseInt);// [11, NaN, 3, 4, 5, 6, 7, 8, 9]
arr.map(curry(parseInt));//[11, 11, 11, 11, 11, 11, 11, 11, 11]
arr.map(console.log); //11 i | i=0...8
arr.map(curry2(console.log)(12)); //11 12 | 9 times
									</code></pre>
									
								</section>
					
				</section>
				<!--partial applications-->
				<!--pure functions-->
				<!--immutables-->
				<!--chainning-->
				<!--flow based development-->
				<!--promises-->
				<!--bluebird-->
				<!--pipelining\thrush combinator-->
				<!--actions\monads-->
				<!--mixin base development-->
		

			</div>

		</div>

		<script src="components/reveal.js/lib/js/head.min.js"></script>
		<script src="components/reveal.js/js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'components/reveal.js/plugin/search/search.js', async: true },
					{ src: 'components/reveal.js/plugin/zoom-js/zoom.js', async: true },
					{ src: 'components/reveal.js/plugin/notes/notes.js', async: true }
				]
			});

		</script>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <!-- Socket.io client-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>