body 
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

canvas
{ 

  border-style: solid;
  border-width: 2px;
  border-color: #a38c06;
  background-color: Black;
}

#gameUI
{
  display: block;
  width: 100%;
  height: 5%;
  background-color: rgb(135, 161, 179);
  bottom: 0;
  position: fixed;
}

#scoretitle
{
  text-align: center;
  font-size: 2vmin;
  margin: 0px;
  padding: 0px;
  left: 49%;
  bottom: 60%;
  position: absolute;
}

#score
{
  text-align: center;
  color: white;
  font-size: 2vmin;
  margin: 0px;
  padding: 0px;
  left: 49.75%;
  bottom: 25%;
  position: absolute;
}

#helpic
{
  margin: 0px;
  padding: 0px;
  width: 4%;
  height: 60%;
  bottom: 30%;  
  left: 95%; 
  position: absolute;
}

#field
{
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 40%;
  bottom: 40%;
  left: 1%;
  font-size: 1vmin;
  position: absolute;
}

#send
{
  font-size: 1vmin;
  margin: 0px;
  padding: 0px;
  width: 4%;
  height: 40%;
  bottom: 40%;
  left: 12%;
  position: absolute;
}

#field2
{
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 40%;
  bottom: 40%;
  left: 20%;
  font-size: 1vmin;
  position: absolute;
}

#send2
{
  font-size: 1vmin;
  margin: 0px;
  padding: 0px;
  width: 4%;
  height: 40%;
  bottom: 40%;
  left: 31%;
  position: absolute;
}