body{
    margin: 0;
    overflow:hidden;
  }
  img{
    display:none;
  }
  #canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
    .controls {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
