body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
    text-align: center;
    font-size: 2em;
    margin-top: 4%;
    font-weight: bold;
    color: white;
    text-shadow: 15px 15px 8px darkgrey;
    padding-bottom: 5%;
}
canvas{
    display:block;
}

.game {
    /*display:inline-block;*/
    padding-left: 10%;
    vertical-align: top;
    float: left;
}

.gameTypeHeader {
    display:inline-block;
    padding-left: 3%;
}

.player-title {
    text-align: center;
}
.player-title h3 {
    vertical-align: top;
    display: inline-block;
    width:300px;
    margin-top: 2px;
    margin-bottom: 2px
}
.player-title #player2Name {
    vertical-align: bottom;
}
form{
    display:inline-block;
}